input[type=submit]:hover {
    background-color:#6345a0 ;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #6345a0;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  