body{
    background-image: url(Telstra_teams_backgrounds_Telstra-International.jpg);
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
    background-blend-mode: color-dodge;

}